
@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(359deg);
	}
}

.icon-spin {
	animation: spin 2s infinite linear;
	display: inline-block;
}

component-resource {
	display:inline-block;
	white-space: normal;
	position:relative;
	border:1px solid silver;
	border-radius:0.5em;
	overflow:hidden;
	max-height:2.75em;
	max-width:100%;
}
component-resource [hidden] {
	display:none !important;
}
component-resource.focused {
	max-height:none;
	border-color:black;
	box-shadow:1px 1px 1px black;
}

.ProseMirror-content {
	outline:none;
}

component-resource.ProseMirror-selectednode {
	outline: 1px solid red;
}
component-widget.ProseMirror-selectednode {
	outline: 1px solid green;
}

component-widget {
	display:block;
	cursor:move;
	min-width:20em; /* prevent collapse */
}

component-widget img {
	cursor:move !important;
}

component-widget > .type {
	position:absolute;
	text-align:center;
	height:100%;
	color:white;
	background-color:black;
	line-height:1.4em;
	cursor:move;
}

component-widget > .type > .favicon {
	max-width:1.2em;
}

component-widget > .thumbnail {
	float:right;
	z-index:1;
	position:relative; /* needed by z-index */
}

component-widget > .thumbnail > img {
	float:left;
	max-width:6em;
	height:2.75em;
}

component-resource.focused > component-widget > .thumbnail > img {
	height:auto;
}

component-resource.focused > component-field {
	white-space: pre-wrap;
}
component-field {
	display: block;
	margin-left: 1.3em;
	white-space: nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	position: relative;
	line-height:1.4em;
	margin-right: 0.2em;
	padding-left: 0.4em;
}

component-field[name]:before {
	color:grey;
	font-family:sans-serif;
	letter-spacing:-1px;
	font-size:0.8em;
}

component-field[name="title"]:before {
	content: 'Title: ';
}
component-field[name="description"]:before {
	content: 'Description: ';
}
