<!DOCTYPE html>
<html>
<head>
<title>Component Resource Custom Element</title>
<script src="agent.js"></script>
<script src="domt.js"></script>
<link href="component-font.css" rel="stylesheet" />
<link href="component-style.css" rel="stylesheet" />

<script type="text/template" id="component-widget">
	<a class="type" bind-href="attr.href">
		<i bind-class="icon-[attr.type|icon]"></i><br>
		<img class="favicon" bind-src="attr.icon|hide">
	</a>
	<div class="thumbnail">
		<img bind-src="attr.thumbnail|hide" />
	</div>
</div>
</script>

<script>(function() {

var inspectorBase = "http://inspector.eda.sarl";

var ownDoc = (document._currentScript || document.currentScript).ownerDocument;
var widgetTemplate = Domt.template(ownDoc.getElementById('component-widget'));

var widgetProto = Object.create(HTMLElement.prototype);
var resourceProto = Object.create(HTMLElement.prototype);

function merge(me, attrs) {
	Domt(me).merge({
		attr: attrs
	}, {
		hide: function(val, context) {
			if (!val) context.node.setAttribute("hidden", "");
			else context.node.removeAttribute("hidden");
			return val;
		},
		icon: function iconFilter(val) {
			if (!val || val == "none") return "spin";
			return val;
		},
		href: function(val, context) {
			if (!val) val = context.scope.attr.href;
			return val;
		}
	});
}

widgetProto.attachedCallback = function() {
	var me = this;
	if (!me.childNodes.length) {
		me.appendChild(widgetTemplate.clone().merge().import());
	}
	if (this.parentNode) this.parentNode.attributeChangedCallback();
};


document.registerElement('component-widget', {
	prototype: widgetProto
});

resourceProto.props = function(obj) {
	var me = this;
	var atts = me.attributes;
	var att, i;
	if (obj) {
		for (i = 0; i < atts.length; i++) {
			me.removeAttributeNode(atts[i]);
		}
		Object.keys(obj).forEach(function(name) {
			me.setAttribute(name, obj[name]);
		});
	} else {
		obj = {};
		for (i = 0; i < atts.length; i++) {
			att = atts[i];
			obj[att.name] = att.value;
		}
	}
	return obj;
};

resourceProto.attachedCallback = function() {
	var me = this;
	var attrs = me.props();
	if (!attrs.title) attrs.title = attrs.href;
	if (!attrs.description) attrs.description = null;

	merge(this, attrs);

	if (attrs.type != "none" || !attrs.href) return;

	GET(inspectorBase + "/inspector", {
		url: attrs.href
	}).then(function(obj) {
		return new Promise(function(resolve) {
			setTimeout(function() {
				console.log("artificial timeout, remove me");
				resolve(obj);
			}, 500);
		});
	}).then(function(obj) {
		var editor = me.closest('.ProseMirror');
		if (!editor) return;
		var pm = editor.ProseMirror;
		if (!pm) return;
		var nsel = pm.getNodeSelection(me);

		var types = pm.schema.nodes;
		var titleField = types.component_field.create({
			name: "title"
		}, pm.schema.text(obj.title || obj.href));
		var descriptionField = types.component_field.create({
			name: "description"
		}, obj.description ? pm.schema.text(obj.description) : null);

		pm.tr.replaceWith(nsel.from, nsel.to, types.component_resource.createAndFill({
			type: obj.type,
			href: obj.url,
			icon: obj.icon,
			thumbnail: obj.thumbnail ? (inspectorBase + obj.thumbnail) : null
		}, [titleField, descriptionField])).apply();
	}).catch(function(err) {
		console.error(err);
	});
};

resourceProto.attributeChangedCallback = function(name) {
	merge(this, this.props());
};

document.registerElement('component-resource', {
	prototype: resourceProto
});

})();</script>
</head>
</html>
