@import url('./coed-link-font.css');

.ProseMirror-content {
	outline:none;
}

co-link {
	display:flex;
	white-space: nowrap;
	position:relative;
	border:1px solid #333;
	border-radius:0.5em;
	overflow:hidden;
	max-height:2.75em;
	max-width:100%;
	transition: max-height 0.5s ease;
	margin:1px 0;
}
co-link [hidden] {
	display:none !important;
}
co-link.focused {
	max-height:10em; /* workaround transition with unknown max-height will cause a problem */
	box-shadow:1px 1px 1px black;
	border-color:black;
}

co-link.ProseMirror-selectednode {
	outline: none;
}
co-link > a.ProseMirror-selectednode,
co-link > aside.ProseMirror-selectednode {
	outline: 1px solid red; /* should never happen */
}

co-link > a,
co-link > aside {
	display:inline-block;
	cursor:move;
	vertical-align:top;
}

co-link > a {
	background:#333;
	flex: 0 0 auto;
	padding-left:0.15em;
	padding-right:0.2em;
	text-align:center;
	text-decoration:none;
}

co-link > a:before {
	font-family: "component-font";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: block;
	text-decoration: inherit;
	width: 1em;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
	margin: 0.2em auto;
	color:white;
}
@keyframes co-link-spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(359deg);
	}
}

co-link[type="none"] > a:before {
	content: '\e832';
	animation: co-link-spin 2s infinite linear;
}
co-link[type=""] > a:before { content: '\e832'; }
co-link[type="video"] > a:before { content: '\e800'; }
co-link[type="link"] > a:before { content: '\e801'; }
co-link[type="image"] > a:before { content: '\e802'; }
co-link[type="audio"] > a:before { content: '\e803'; }
co-link[type="embed"] > a:before { content: '\f10e'; }

co-link > a > img {
	max-width:1.2em;
	display:block;
	margin:0.2em auto;
	cursor:move !important;
}

co-link > aside {
	background-color:black;
	flex: 0 2 auto;
	display:flex;
	position:relative;
}

co-link > aside > figure {
	flex: 1 1 auto;
	min-height:0;
	min-width:0;
	display:flex;
}
co-link > aside > figure:empty {
	display:none;
}

co-link > aside > figure > img {
	cursor:move !important;
	width: 100%;
	align-self:center;
}

co-link > aside > div {
	background-color:#333;
	flex: 1 1 auto;
	font-family: monospace;
	white-space: normal;
	color:white;
	width: 100%;
	text-align:justify;
}
co-link > aside > div:empty {
	display:none;
}
co-link > aside > div > span {
	display:inline-block;
	padding: 0 0.3em;
	position:relative;
}
co-link > aside > div > span[title="dimensions"] {
	float:right;
}
co-link > aside > div > span[title="description"] {
	clear:both;
	word-break: break-all;
	font-size: 0.8em;
	top:0.3em;
}

co-link > div {
	flex: 1 1 auto;
	width:66%;
}
co-link > div > div[name] {
	display: block;
	overflow:hidden;
	text-overflow:ellipsis;
	position: relative;
	line-height:1.4em;
	margin-right: 0.2em;
	padding-left: 0.4em;
}
co-link.focused > div > div[name] {
	white-space: pre-wrap;
}

co-link > div > div[name]:before {
	color:grey;
	font-family:sans-serif;
	letter-spacing:-1px;
	font-size:0.8em;
}

co-link > div > div[name="title"]:before {
	content: 'Title: ';
}
co-link > div > div[name="content"] {
	display:none;
}

/* image type */

co-link[type="image"] > div > div[name="content"] {
	display:block;
}
co-link[type="image"] > div > div[name="content"]:before {
	content: 'Credit: ';
}


/* link type */
co-link:not(.focused)[type="link"] {
	height:1.4em;
}
co-link[type="link"]:not(.focused) > a:before,
co-link[type="link"]:not(.focused) > a > img {
	display:inline-block;
	vertical-align:middle;
}
co-link:not(.focused)[type="link"] > a > img {
	margin:0;
}
co-link[type="link"] > div > div[name="content"] {
	display:block;
}
co-link[type="link"] > div > div[name="content"]:before {
	content: 'Content: ';
}
