@import url('./coed-link-font.css');

co-link {
	display:flex;
	white-space: nowrap;
	position:relative;
	border:1px solid #333;
	border-radius:0.5em;
	overflow:hidden;
	max-height:2.75em;
	max-width:100%;
	margin:1px 0;
}
co-link [hidden] {
	display:none !important;
}
co-link[coed-focused] {
	max-height:none;
	box-shadow:1px 1px 1px black;
	border-color:black;
}

co-link > header.ProseMirror-selectednode,
co-link > aside.ProseMirror-selectednode {
	outline: 1px solid red; /* debugging purpose - should never happen */
}

co-link > header,
co-link > aside {
	display:inline-block;
	vertical-align:top;
}

co-link > header {
	cursor:move;
	background:#33393B;
	flex: 0 0 auto;
	padding-left:0.15em;
	padding-right:0.2em;
	text-align:center;
	text-decoration:none;
	min-width:1.2em;
}

co-link > header > [name]:after {
	font-family: "component-font";
	speak: none;
	display: block;
	text-decoration: inherit;
	width: 1em;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
	margin: 0.2em auto;
	color:white;
}
@keyframes co-link-spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(359deg);
	}
}

co-link[type="none"] > header > [name="type"]:after {
	content: '\e832';
	animation: co-link-spin 2s infinite linear;
}
co-link[type=""] > header > [name="type"]:after { content: '\e832'; }
co-link[type="video"] > header > [name="type"]:after { content: '\e800'; }
co-link[type="link"] > header > [name="type"]:after { content: '\e801'; }
co-link[type="image"] > header > [name="type"]:after { content: '\e802'; }
co-link[type="audio"] > header > [name="type"]:after { content: '\e803'; }
co-link[type="embed"] > header > [name="type"]:after { content: '\f10e'; }

co-link[coed-focused] > header > [name="preview"]:after {
	content: '\f082';
	position:absolute;
	bottom:0;
	width:1.2em;
}

co-link > header > [title] > img {
	max-width:1.2em;
	display:block;
	margin:0.2em auto;
	cursor:move !important;
}

co-link > aside {
	background-color:#33393B;
	flex: 0 2 auto;
	display:flex;
	position:relative;
	max-width:33%;
}

co-link > aside > figure {
	flex: 1 1 auto;
	min-height:0;
	min-width:0;
	display:flex;
	margin:0;
}
co-link > aside > figure:empty {
	display:none;
}

co-link > aside > figure > img {
	width: 100%;
	align-self:center;
	max-height:8em;
	box-shadow:0px 0px 3px white;
}
co-link > aside > div > p {
	white-space: normal;
	color:#CBCBCB;
	margin: 0 0.3em;
	font-family: sans-serif;
	font-size: 0.75em;
	max-height:8em;
	overflow:visible;
	text-align:left;
}
co-link > aside > div {
	flex: 1 1 auto;
	font-family: monospace;
	white-space: normal;
	color:white;
}
co-link > aside > div:empty {
	display:none;
}
co-link > aside > div > div {
	float:right;
	margin-right:0.15em;
	background-color:#444;
}
co-link > aside > div > div > span {
	float:right;
	clear:both;
}

co-link > div {
	flex: 1 1 auto;
	width:66%;
}
co-link > div > div[coed-name] {
	display: block;
	overflow:hidden;
	text-overflow:ellipsis;
	position: relative;
	line-height:1.4em;
	margin-right: 0.2em;
	padding-left: 0.4em;
}
co-link[coed-focused] > div > div[coed-name] {
	white-space: pre-wrap;
}

co-link > div > div[coed-name]:before {
	color:grey;
	font-family:sans-serif;
	letter-spacing:-1px;
	font-size:0.8em;
}

co-link > div > div[coed-name="title"]:before {
	content: 'Title: ';
}
co-link > div > div[coed-name="content"] {
	display:none;
}

/* image type */

co-link[type="image"] > div > div[coed-name="content"] {
	display:block;
}
co-link[type="image"] > div > div[coed-name="content"]:before {
	content: 'Credit: ';
}


/* link type */
co-link:not([coed-focused])[type="link"] {
	height:1.4em;
}
co-link[type="link"]:not([coed-focused])> header:before,
co-link[type="link"]:not([coed-focused])> header > img {
	display:inline-block;
	vertical-align:middle;
}
co-link:not([coed-focused])[type="link"]> header > img {
	margin:0;
}
co-link[type="link"] > div > div[coed-name="content"] {
	display:block;
}
co-link[type="link"] > div > div[coed-name="content"]:before {
	content: 'Content: ';
}
