@import './coed-link-font.css';

co-link {
	display:inline-flex;
	white-space: nowrap;
	position:relative;
	border:1px solid #aaa;
	border-radius:.3em;
	overflow:hidden;
	max-height:2.75em;
	max-width:100%;
	margin:1px;
}
co-link [hidden] {
	display:none !important;
}
co-link[block-focused] {
	max-height:none;
	box-shadow:1px 1px 1px #999;
	border-color:#555;
}

co-link > header.ProseMirror-selectednode,
co-link > aside.ProseMirror-selectednode {
	outline: 1px solid red; /* debugging purpose - should never happen */
}

co-link > header {
	cursor:move;
	background:#888;
	flex: 0 0 auto;
	padding-left:0.15em;
	padding-right:0.2em;
	text-align:center;
	text-decoration:none;
	min-width:1.2em;
	display:flex;
	flex-direction:column;
}
co-link a[href] > * {
	pointer-events: none;
}

co-link.ProseMirror-selectednode > header {
	background-color:#555;
}

co-link > header > [name]:after {
	font-family: "component-font";
	speak: none;
	display: inline-block;
	vertical-align:middle;
	text-decoration: inherit;
	width: 1.2em;
	text-align:center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
	margin: 0 auto;
	color:white;
	padding-top:.1em;
}
@keyframes co-link-spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(359deg);
	}
}

co-link[type="none"] > header > [name="type"]:after {
	content: '\e832';
	animation: co-link-spin 2s infinite linear;
}
co-link[type=""] > header > [name="type"]:after { content: '\e832'; }
co-link[type="video"] > header > [name="type"]:after { content: '\e800'; }
co-link[type="link"] > header > [name="type"]:after { content: '\e801'; }
co-link[type="image"] > header > [name="type"]:after { content: '\e802'; }
co-link[type="audio"] > header > [name="type"]:after { content: '\e803'; }
co-link[type="embed"] > header > [name="type"]:after { content: '\f10e'; }

co-link[block-focused] > header > [name="preview"] {
	flex: 1 1 auto;
	flex-direction:column;
	justify-content:flex-end;
	display:flex;
}
co-link[block-focused] > header > [name="preview"]:after {
	content: '\f082';
	left:0.2em;
	width:1.2em;
	display:block;
	padding-bottom:.2em;
}
co-link > header > [title] {
	display:block;
}
co-link > header > [title] > img {
	max-width:1.2em;
	display:inline-block;
	margin:0 auto;
	cursor:move !important;
	vertical-align:middle;
	padding-top:.1em;
	margin-bottom:.2em;
}

co-link > aside {
	background-color:#666;
	flex: 0 2 auto;
	display:flex;
	position:relative;
	max-width:14em; /* this is what makes root size reasonnable */
	min-width:0; /* slightly better when small */
	cursor:pointer;
}

co-link > aside > figure {
	flex: 1 1 auto;
	min-height:0;
	min-width:66%;
	max-width:0; /* this is a trick */
	display:flex;
	margin:0;
}
co-link > aside > figure:empty {
	display:none;
}

co-link > aside > figure > img {
	width: 100%;
	align-self:center;
	max-height:8em;
	box-shadow:0px 0px 3px white;
}
co-link > aside > div > p {
	white-space: normal;
	color:#eee;
	margin: 0 0.3em;
	font-family: sans-serif;
	font-size: 0.7em;
	max-height:8em;
	overflow:visible;
	text-align:left;
	padding:.3em;
}
co-link > aside > div {
	flex: 1 1 auto;
	font-family: monospace;
	white-space: normal;
	color:white;
	min-width:50%;
	color:#eee;
}
co-link > aside > div:empty {
	display:none;
}
co-link > aside > div > div {
	float:right;
	margin-right:0.15em;
	background-color:#444;
	font-size:.9em;
	border-bottom-left-radius:.3em;
	padding:.1em;
}
co-link > aside > div > div > span {
	float:right;
	clear:both;
	padding-left:0.2em;
}

co-link > div {
	flex: 1 1 auto;
	padding-top:.1em;
	background:#eee;
	padding-right:.1em;
}
co-link > div > div[block-content] {
	display: block;
	overflow:hidden;
	text-overflow:ellipsis;
	position: relative;
	line-height:1.15em;
	margin-right: 0.2em;
	padding-left: 0.4em;
	font-family:sans-serif;
	font-size:.95em;
	margin-top:0.1em;
}
co-link[block-focused] > div > div[block-content] {
	white-space: pre-wrap;
}

co-link[block-focused] > div {
	background:#fff;
}

co-link > div > div[block-content]:before {
	color:grey;
	font-family:sans-serif;
	letter-spacing:-1px;
	font-size:0.8em;
}

co-link > div > div[block-content="title"]:before {
	content: 'Title: ';
}
co-link > div > div[block-content="content"] {
	display:none;
}

/* image type */

co-link[type="image"] > div > div[block-content="content"] {
	display:inline-block;
}
co-link[type="image"] > div > div[block-content="content"]:before {
	content: 'Credit: ';
}


/* link type */
co-link[type="link"] > header > [name="preview"],
co-link:not([block-focused])[type="link"] > header > [name="type"] {
	display:none;
}
co-link:not([block-focused])[type="link"] {
	height:1.4em;
}
co-link[type="link"]:not([block-focused]) > header {
	display:flex;
	align-items:center;
}
co-link:not([block-focused])[type="link"]> header > img {
	margin:0;
}
co-link[type="link"] > div > div[block-content="content"] {
	display:block;
}
co-link[type="link"] > div > div[block-content="content"]:before {
	content: 'Content: ';
}
