@import url('edbed-font.css');

.ProseMirror-content {
	outline:none;
}

edbed-item {
	display:flex;
	white-space: nowrap;
	position:relative;
	border:1px solid #333;
	border-radius:0.5em;
	overflow:hidden;
	max-height:2.75em;
	max-width:100%;
	transition: max-height 0.5s ease;
	margin:1px 0;
}
edbed-item [hidden] {
	display:none !important;
}
edbed-item.focused {
	max-height:10em; /* workaround transition with unknown max-height will cause a problem */
	box-shadow:1px 1px 1px black;
	border-color:black;
}

edbed-item.ProseMirror-selectednode {
	outline: none;
}
edbed-item > a.ProseMirror-selectednode,
edbed-aside.ProseMirror-selectednode {
	outline: 1px solid red; /* should never happen */
}

edbed-item > a, edbed-aside {
	display:inline-block;
	cursor:move;
	vertical-align:top;
}

edbed-item > a {
	background:#333;
	flex: 0 0 auto;
	padding-left:0.15em;
	padding-right:0.2em;
	text-align:center;
	text-decoration:none;
}

edbed-item > a:before {
	font-family: "component-font";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: block;
	text-decoration: inherit;
	width: 1em;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
	margin: 0.2em auto;
	color:white;
}
@keyframes edbed-spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(359deg);
	}
}

edbed-item[type="none"] > a:before {
	content: '\e832';
	animation: edbed-spin 2s infinite linear;
}
edbed-item[type=""] > a:before { content: '\e832'; }
edbed-item[type="video"] > a:before { content: '\e800'; }
edbed-item[type="link"] > a:before { content: '\e801'; }
edbed-item[type="image"] > a:before { content: '\e802'; }
edbed-item[type="audio"] > a:before { content: '\e803'; }
edbed-item[type="embed"] > a:before { content: '\f10e'; }

edbed-item > a > img {
	max-width:1.2em;
	display:block;
	margin:0.2em auto;
	cursor:move !important;
}

edbed-aside {
	background-color:black;
	flex: 0 2 auto;
	display:flex;
	position:relative;
}

edbed-aside > edbed-thumbnail {
	flex: 1 1 auto;
	min-height:0;
	min-width:0;
	display:flex;
}
edbed-aside > edbed-thumbnail:empty {
	display:none;
}

edbed-aside > edbed-thumbnail > img {
	cursor:move !important;
	width: 100%;
	align-self:center;
}

edbed-aside > edbed-props {
	background-color:#333;
	flex: 1 1 auto;
	font-family: monospace;
	white-space: normal;
	color:white;
	width: 100%;
	text-align:justify;
}
edbed-aside > edbed-props:empty {
	display:none;
}
edbed-item edbed-prop {
	display:inline-block;
	padding: 0 0.3em;
	position:relative;
}
edbed-item edbed-prop[name="dimensions"] {
	float:right;
}
edbed-item edbed-prop[name="description"] {
	clear:both;
	word-break: break-all;
	font-size: 0.8em;
	top:0.3em;
}

edbed-item > edbed-fields {
	flex: 1 1 auto;
	width:66%;
}
edbed-field {
	display: block;
	overflow:hidden;
	text-overflow:ellipsis;
	position: relative;
	line-height:1.4em;
	margin-right: 0.2em;
	padding-left: 0.4em;
}
edbed-item.focused edbed-field {
	white-space: pre-wrap;
}

edbed-field[name]:before {
	color:grey;
	font-family:sans-serif;
	letter-spacing:-1px;
	font-size:0.8em;
}

edbed-field[name="title"]:before {
	content: 'Title: ';
}
edbed-field[name="content"] {
	display:none;
}

/* image type */

edbed-item[type="image"] edbed-field[name="content"] {
	display:block;
}
edbed-item[type="image"] edbed-field[name="content"]:before {
	content: 'Credit: ';
}


/* link type */
edbed-item:not(.focused)[type="link"] {
	height:1.4em;
}
edbed-item[type="link"]:not(.focused) > a:before,
edbed-item[type="link"]:not(.focused) > a > img {
	display:inline-block;
	vertical-align:middle;
}
edbed-item:not(.focused)[type="link"] > a > img {
	margin:0;
}
edbed-item[type="link"] edbed-field[name="content"] {
	display:block;
}
edbed-item[type="link"] edbed-field[name="content"]:before {
	content: 'Content: ';
}
