@import 'edbed-font.css';

component-resource {
	display:flex;
	white-space: nowrap;
	position:relative;
	border:1px solid silver;
	border-radius:0.5em;
	overflow:hidden;
	max-height:2.75em;
	max-width:100%;
	transition: max-height 0.5s ease;
}
component-resource [hidden] {
	display:none !important;
}
component-resource.focused {
	max-height:10em; /* workaround transition with unknown max-height will cause a problem */
	border-color:black;
	box-shadow:1px 1px 1px black;
}

.ProseMirror-content {
	outline:none;
}

component-resource.ProseMirror-selectednode {
	outline: none;
}
component-widget.ProseMirror-selectednode {
	outline: 1px solid red; /* should never happen */
}

component-widget {
	display:inline-block;
	cursor:move;
	vertical-align:top;
}

component-widget[type="begin"] {
	background:black;
	flex: 0 0 auto;
}

component-widget[type="begin"] > .type {
	display:block;
	text-align:center;
	height:100%;
	color:white;
	background-color:black;
	line-height:1.4em;
	cursor:move;
	margin:1px;
}


component-widget > .type > i:before {
	font-family: "component-font";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
	margin-left: .2em;
}
@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(359deg);
	}
}

component-resource[type="none"] > component-widget > .type > i:before {
	content: '\e832';
	animation: spin 2s infinite linear;
}
component-resource[type=""] > component-widget > .type > i:before { content: '\e832'; }
component-resource[type="video"] > component-widget > .type > i:before { content: '\e800'; }
component-resource[type="link"] > component-widget > .type > i:before { content: '\e801'; }
component-resource[type="image"] > component-widget > .type > i:before { content: '\e802'; }
component-resource[type="audio"] > component-widget > .type > i:before { content: '\e803'; }
component-resource[type="embed"] > component-widget > .type > i:before { content: '\f10e'; }

component-widget[type="begin"] .favicon {
	max-width:1.2em;
}

component-widget[type="end"] {
	background:black;
	flex: 1 1 auto;
	display:flex;
	flex-direction:column;
	position:relative;
}

component-widget[type="end"] .thumbnail {
	flex: 1 1 auto;
	min-height:0;
	min-width:0;
	display:flex;
}

component-widget[type="end"] .thumbnail img {
	cursor:move !important;
	width: 100%;
	align-self:center;
}

component-widget[type="end"] .text {
	flex: 0 0 auto;
	color:white;
	background-color: rgba(0, 0, 0, 0.5);
	font-family: monospace;
	padding-left: 0.2em;
}

component-resource.focused component-field {
	white-space: pre-wrap;
}
component-resource > .component-fields {
	display:inline-block;
	flex: 5 1 auto;
	position: relative;
	overflow: hidden;
}
component-field {
	display: block;
	white-space: nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	position: relative;
	line-height:1.4em;
	margin-right: 0.2em;
	padding-left: 0.4em;
}

component-field[name]:before {
	color:grey;
	font-family:sans-serif;
	letter-spacing:-1px;
	font-size:0.8em;
}

component-field[name="title"]:before {
	content: 'Title: ';
}
component-field[name="description"]:before {
	content: 'Description: ';
}
