@import 'edbed-font.css';

.ProseMirror-content {
	outline:none;
}

edbed-item {
	display:flex;
	white-space: nowrap;
	position:relative;
	border:1px solid silver;
	border-radius:0.5em;
	overflow:hidden;
	max-height:2.75em;
	max-width:100%;
	transition: max-height 0.5s ease;
}
edbed-item [hidden] {
	display:none !important;
}
edbed-item.focused {
	max-height:10em; /* workaround transition with unknown max-height will cause a problem */
	border-color:black;
	box-shadow:1px 1px 1px black;
}

edbed-item.ProseMirror-selectednode {
	outline: none;
}
edbed-link.ProseMirror-selectednode,
edbed-aside.ProseMirror-selectednode {
	outline: 1px solid red; /* should never happen */
}

edbed-link, edbed-aside {
	display:inline-block;
	cursor:move;
	vertical-align:top;
}

edbed-link {
	background:#333;
	flex: 0 0 auto;
	padding-left:0.15em;
	padding-right:0.1em;
}

edbed-link:before {
	font-family: "component-font";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: block;
	text-decoration: inherit;
	width: 1em;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
	margin: 0.2em auto;
	color:white;
}
@keyframes edbed-spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(359deg);
	}
}

edbed-item[type="none"] > edbed-link:before {
	content: '\e832';
	animation: edbed-spin 2s infinite linear;
}
edbed-item[type=""] > edbed-link:before { content: '\e832'; }
edbed-item[type="video"] > edbed-link:before { content: '\e800'; }
edbed-item[type="link"] > edbed-link:before { content: '\e801'; }
edbed-item[type="image"] > edbed-link:before { content: '\e802'; }
edbed-item[type="audio"] > edbed-link:before { content: '\e803'; }
edbed-item[type="embed"] > edbed-link:before { content: '\f10e'; }

edbed-link > img {
	max-width:1.2em;
	display:block;
	margin:0.2em auto;
	cursor:move !important;
}

edbed-aside {
	background:black;
	flex: 1 1 auto;
	display:flex;
	flex-direction:column;
	position:relative;
}

edbed-aside > edbed-thumbnail {
	flex: 1 1 auto;
	min-height:0;
	min-width:0;
	display:flex;
}

edbed-aside > edbed-thumbnail > img {
	cursor:move !important;
	width: 100%;
	align-self:center;
}

edbed-aside > edbed-props {
	flex: 0 0 auto;
	color:white;
	background-color: rgba(0, 0, 0, 0.5);
	font-family: monospace;
	padding-left: 0.2em;
}
edbed-aside > edbed-props > edbed-prop:before {
	display:inline-block;
	content: attr(value);
}

edbed-item.focused edbed-field {
	white-space: pre-wrap;
}
edbed-item > edbed-fields {
	display:inline-block;
	flex: 5 1 auto;
	position: relative;
	overflow: hidden;
}
edbed-field {
	display: block;
	white-space: nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	position: relative;
	line-height:1.4em;
	margin-right: 0.2em;
	padding-left: 0.4em;
}

edbed-field[name]:before {
	color:grey;
	font-family:sans-serif;
	letter-spacing:-1px;
	font-size:0.8em;
}

edbed-field[name="title"]:before {
	content: 'Title: ';
}
edbed-field[name="description"]:before {
	content: 'Description: ';
}
