@import './prosemirror.css';
@import './prosemirror-menu.css';
@import './prosemirror-setup.css';

.ProseMirror-content {
	outline:none;
}

.ProseMirror-selectednode {
	outline: none;
}

.ProseMirror-content p[pm-container] {
	position:relative;
	margin: 0.5em 0;
}

.ProseMirror-content p[pm-container]:before {
	display: block;
	position: absolute;
	font-size: 0.8em;
	color: black;
	right: 0px;
	content: '\00b6';
	opacity: 0.5;
	top: 0.1em;
}

